/*--------------------------------------
		FS3D/Prepar3d Launcher
		----------------------

	Author: 	FS3D
	Version:	0.5
	Year:		2022

--------------------------------------*/

#server_status{
	height:70px;
}

#p3d_status{
	height:70px;
}

#server_details{
	height:180px;
}

#player_details{
	height:200px;
}