/*--------------------------------------
		FS3D/Prepar3d Launcher
		----------------------

	Author: 	FS3D
	Version:	0.5
	Year:		2022

--------------------------------------*/
html, body{
	width:560px;
	height:500px;
	background:url('../images/splash.png');
	color:white;
	background-size:cover;
	user-select:none;
}
#splash_video{
	position:relative;
	top:0;
	left:0;
	margin:0;
	padding:0;
	z-index:1;
	width:560px;
	height:500px;
}
#splash_loading{
	width:200px;
	height:200px;
	position:absolute;
	top:180px;
	left:180px;
	background:url('../images/pulse.gif');
	background-size:cover;
	z-index:2;
}
#splash_message{
	color:white;
	font-size:18px;
	position:absolute;
	top:400px;
	width:100%;
	text-align:center;
	z-index:2;
}